{% extends "dashboard/index.html.twig" %}

{% block title %}
	{{title}}
{% endblock %}

{% block nav %}
	<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		<div class="position-sticky pt-3">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/dashboard">
						<span data-feather="home"></span>
						Dashboard
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/plans">
						<span data-feather="file"></span>
						Plans
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/orders">
						<span data-feather="shopping-cart"></span>
						Orders
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/customers">
						<span data-feather="user-check"></span>
						Customers
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/users">
						<span data-feather="user-check"></span>
						Users
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/dashboard/faqs">
						<span data-feather="help-circle"></span>
						FAQs
					</a>
				</li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
   {% if app.request.query.get('deleted') == true %}
  {# <div class="d-flex justify-content-center"> #}
		<div id="theAlert" class="alert alert-success fade show text-center" role="alert">
			FAQ deleted !
		</div>
    {# </div> #}
		{% elseif updated == true %}
		<div id="theAlert" class="alert alert-success fade show text-center" role="alert">
			FAQ updated !
		</div>
    {% endif %}
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1>FAQs</h1>
		</div>
		<div class="row border-bottom">
			<h2>Add FAQ</h2>
			{# {{ form(form) }} #}
			<div class="col-md-6">
				<div class="form-group" id="edit_form">
					{{ form_start(form) }}
					{{ form_label(form.question)}}
					{{ form_widget(form.question, { 'attr': {'class': 'form-control'} })  }}<br>
					{{ form_label(form.answer)}}
					{{ form_widget(form.answer, { 'attr': {'class': 'form-control'} })  }}<br>
					{{ form_widget(form.save, { 'attr': {'class': 'btn btn-md btn-primary'} })  }}
					{{ form_end(form) }}
				</div>
			</div>


		</div>
		<br>
		<h2>Current FAQs</h2>
		<br>
		{% for faq in faqs %}
			<div class="accordion" id="accordionPanelsStayOpenExample">

				<div class="accordion-item">
					<h2 class="accordion-header" id="panelsStayOpen-heading{{faq.id}}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{faq.id}}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{faq.id}}">
							Q:
							{{faq.question}}
						</button>
					</h2>
					{# &nbsp;&nbsp;  #}
					<div id="panelsStayOpen-collapse{{faq.id}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{faq.id}}">

						<div class="accordion-body">
							<strong>A:
							</strong>
							{{faq.answer}}
						</br>
						<span class="badge rounded-pill bg-success">
							<a
								href="/dashboard/faqs/update/{{faq.id}}" class="a-no-color">
								{# <i class="far fa-edit"> </i> #}
								Update
							</a>
						</span>
						<span class="badge rounded-pill bg-danger">
							<a
								href="/dashboard/faqs/delete/{{faq.id}}" class="a-no-color">
								{# <i class="far fa-trash-alt"></i> #}
								Delete
							</a>
						</span>
					</div>
				</div>

			</div>
		</div>
		<br>
	{% endfor %}
</main>{% endblock %}
